/* 全体の設定 */
body {
    font-family: sans-serif;
    margin: 0;
    color: #333;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ヘッダー */
.header {
    background-color: #000000;
    display: flex;
    color: #f7f7f7;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 70px;
    
}

.header__logo {
    height: 30px; 
    width: auto;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.header-nav__link {
    font-weight: bold;
    font-size: 14px;
}

.header-nav__button {
    color: #f7f7f7;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

/* メインコンテンツ */
.content {
    flex: 1; /* フッターを下に押し下げる */
    background-color: #f7f7f7;
    padding: 40px;
    width: 100%;
    max-width: 1200px; /* 横幅の制限 */
    margin: 0 auto;
}

